#!/bin/bash -x

for pid in $(pgrep fstrim); do
    if [ $pid != $$ ]; then
        echo "[$(date)] : Process is already running with PID $pid"
        exit 1
    fi
done

{% if fstrim_filesystems %}
    {%- for fs in fstrim_filesystems.stdout_lines -%}
/sbin/fstrim -v {{ fs }}
    {% endfor -%}
{% endif %}

if [ -x /usr/bin/docker ]; then
    /usr/bin/docker image prune -af
else
    echo "docker does not appear to be installed, skipping image prune..."
fi
