-----BEGIN CERTIFICATE-----
MIIF1TCCA72gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAweDELMAkGA1UEBhMCVVMx
DTALBgNVBAgMBElvd2ExEjAQBgNVBAcMCURhdmVucG9ydDERMA8GA1UECgwIUENE
b21haW4xCzAJBgNVBAsMAklUMSYwJAYJKoZIhvcNAQkBFhdwb3N0bWFzdGVyQHBj
ZG9tYWluLmNvbTAeFw0xNzAyMTAwODA1MzNaFw0yNzAyMDgwODA1MzNaMHsxCzAJ
BgNVBAYTAlVTMQ0wCwYDVQQIDARJb3dhMREwDwYDVQQKDAhQQ0RvbWFpbjELMAkG
A1UECwwCSVQxFTATBgNVBAMMDEludGVybWVkaWF0ZTEmMCQGCSqGSIb3DQEJARYX
cG9zdG1hc3RlckBwY2RvbWFpbi5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAw
ggIKAoICAQC/Yt2ZJ65KlCo7Iw2nJjHNd/wvTuZy0v0QocTFmSqx+nD++mzFvNnP
D3t6KsEwEVoIp01Ibnl6abmh8z4J7smCtl1MVjoah2AQQjVk8nxAEPRIz8qB8MlO
TtGUI3nyRCsIQ20d53kAlKRYrF5p+pcWiq1UkozN8JC7gxOWE+MlTdvVR0rjgizo
5Jhryu1fBHCm/1ZV9CkU3uguhVouwq9pQlFpz08ImL73MP4O2wkxqBuuKJ+Waijo
eZZK0Zr0oC7VHe/IT1haHWelXVUbYbuPzD1B+VjHDFBUwoFo6RImFlHTkdqLHuAg
QEiW72gVnmsvFibjql63lFshrqkXYHxP5lw2LMZ/JAwhdKVfH+7K8SwwtI9W7oBx
VIKasLL59i34nOsyqrRn/ofykTha7XgWekU1uIxhkGZvUdbi/U7zhxT45+vQL9OI
eVQd4DjHb12McIQIv/oBcp2GXYSjUXOTwu30N4pAoUOSqhaBvtzrX1CqeBW3eAgw
R3NwVz5+2gaxSJA3vfTp+nC4JWAJSom+r33Mhm8fk7v6eQ1kukUyyFmJlJN8+Y97
rfx8hP59g/Xdz0YsF8PV7YZ49tAJaU6HSgfUsfuJPDGuU9Vs3q4AVQOe+/V0kqwS
4U8zQGmbNX3AKAIRR1I0b70LVhR1wiHEmjtep960bYpOnOc3p3TmQQIDAQABo2Yw
ZDAdBgNVHQ4EFgQUi2jmVy4QQZR5B2t438wTLNrFc34wHwYDVR0jBBgwFoAUaTcc
CC4JZ842GBU3W2wOxOVRU+0wEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8E
BAMCAYYwDQYJKoZIhvcNAQELBQADggIBAK/a7LJIkMzndRwzWZ1RYbyH43FzlnQ2
u0tDTJb0NC8vJH6EcmxqVujhg0FifiNVVJmyBXBvTC6emMgTYXd8NOx+zWSdq3gs
+j+iFjG7DjjapyuPlcxwKBCL1PqGbpWL08Bo4GMlFVk+XF+b4bDlTlsI8tooFQhj
5gicMONyPlcJZ+Sn2a+Im8GUf0hvEpWTmBdP6EiwNioKMDaog5NztBTVYCgN6ce8
WH97he6pqC7t0dyrTgrUf3detjaMI/lGrVHe7kmTKewpkXXOwsm+zu+P9OeMsviq
Js82PF+0MPAPpXER9YMRdakSGXsBbESXs1+51qKhJATmrwCeZWGxgsltPdQDExKo
nNl9cZtVKpke5fTzUajlH/yiSxsVKr2W4TG5OYyz0kWOa27FLp7h4FZ2MfCUpfNw
DYnNsGG5jpWp63xOwYTygboVQGJy2YGi2i5Yx0vSIO673AvE2EJEoctibXGFMn8s
bIXw7P5LzXWTbHk/6JohCqdw59C4ee1Uk6+6y9eU0Xp2xrnfFTNn1tGvyqjX1x4s
Kaw9AV+0l+Jqb46xrW04XPLHmM2ciC3/D85FQOTMn307TC5m7AS457AUhddtazx+
PWqueUxdikOBPs2f8w5gkyEpKg6JcOFPazdnm+jz1qr3bnoiKFYZsJJgooFYXreP
GY9W73yHiw+i
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIF1jCCA76gAwIBAgIJAJ7Jr4vCMBwQMA0GCSqGSIb3DQEBCwUAMHgxCzAJBgNV
BAYTAlVTMQ0wCwYDVQQIDARJb3dhMRIwEAYDVQQHDAlEYXZlbnBvcnQxETAPBgNV
BAoMCFBDRG9tYWluMQswCQYDVQQLDAJJVDEmMCQGCSqGSIb3DQEJARYXcG9zdG1h
c3RlckBwY2RvbWFpbi5jb20wHhcNMTcwMjEwMDc1NzM1WhcNMzcwMjA1MDc1NzM1
WjB4MQswCQYDVQQGEwJVUzENMAsGA1UECAwESW93YTESMBAGA1UEBwwJRGF2ZW5w
b3J0MREwDwYDVQQKDAhQQ0RvbWFpbjELMAkGA1UECwwCSVQxJjAkBgkqhkiG9w0B
CQEWF3Bvc3RtYXN0ZXJAcGNkb21haW4uY29tMIICIjANBgkqhkiG9w0BAQEFAAOC
Ag8AMIICCgKCAgEAvQRoNxEXtsDSlTpoFQN8deesYNrOIUjnIT/oFLO+pq0R0HDr
hHgKDaxKBV6VprFKMy54yZ6NtlRiK2svVjpuIMBEJfVkxM4gY2SCPRzCDnPK7yWI
pAWoXAZJLOUVNE0AO4T2MIgeUyr/Ipo7QyzGOkpu8D7DYjH4hqTdDG0dX0LQYUHC
wXh4fGrIMot98UMd0TNfxQB3T8DphbEOB/ZO72ew87zqjxIvAfdBZVeQ/XpJzGit
CdTPwYG6B3oM5K2wfL5SBw8Ukz2wAlGJHPtkfK0PXlD/FEPdFhRHzquO2ZtXz8ur
S/D1mDFCTtuultpOZigF+25rPocAEmOP8YlnJIsW53/g/CvTc6n2rqF/Dhl6KNAY
uqdFULP3w8rmb0SYaijrpEEBNuGJpgXWl5tevGGMudkUJGSjJgKkCQowCRECW+t/
AKV+0mFpAc0e5u1ztxUvHp+7j+bV0XHDRisQGwpHigiWz/o5NybzaoF87E/YK9x7
DYNqMO/sa/gP6bMUgSMXC7rte/p2f6KcMaRJK4NC3a9mygZrb5mXiqO9tV4PULLt
eCTqw3edq2tJIHe01AhRQXlFmTV+usouaozxkO+grHK0Yxag8jxiX7bSJRuDFDLJ
Ov5I3GIOYTb4ZwA1wTwpjN6jckS9DMiTHkr5mGA0gzOFI9U9Re0As0x8tP8CAwEA
AaNjMGEwHQYDVR0OBBYEFGk3HAguCWfONhgVN1tsDsTlUVPtMB8GA1UdIwQYMBaA
FGk3HAguCWfONhgVN1tsDsTlUVPtMA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/
BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4ICAQBvOnVDZ9nXaROlHTQyyEvtQxSxBMsn
QqlsrWmtoqtoGmvMzCc/ykJK2bV7lLGsaW2s3uefyu+1fK0MV9adK2xF1T060hGy
G6x5g2TpJlc6f7oK9NMSh0IrnUAH0FCt/TD6e92iDwQ0CuTvgvDayc9EDc7T2W/4
PEjXJHOx2G4XPQL4RgEa2vbEvvbV1mJbXlTGfZHLFgkw64RvwJZa41oF8NPWFNR4
hw7wWvHiyLB+z9V4aS+IuhQzsKgOZBdw7iStqirmixRT7Ft84E0xgAyyKJdwDhNn
JKw07JcdNgZihP4LZNUMurzYE12sfbzKFBPCoNWkP1HW0PLEy25kHoxfoGVigd80
Atyl2PN6B1mxIeS3Xp1ZFqX6amxoFUtT7etjlxK0D0sX+384X4EbEVOOsTtDuNbA
FyRV9IKI3qd88BfJv3bEWXdgdkKAEmxLE/pVbO4AaGNKmWvp0ydRiSNcJF6n0GcQ
ezr91DgdmfQVfATKrRxoE5IncXLwc7POXsByNLnIXAs5ctIFWjCD31i0Sp7ILqIF
NHO2PeHmGH0PeWIZN2+IRAO3BokjG50leUp5LDIauLpaKen9vQegBcJJjgqO4eih
lrILgYHs3+dGX+B8/PdY962JNa9vNvdWig3Uhsunm8DTA9nucBIGD4rPfbLKRtC/
jNhFRiHU4sYvFw==
-----END CERTIFICATE-----
