-----BEGIN CERTIFICATE-----
MIIFzzCCA7egAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwezELMAkGA1UEBhMCVVMx
DTALBgNVBAgMBElvd2ExETAPBgNVBAoMCFBDRG9tYWluMQswCQYDVQQLDAJJVDEV
MBMGA1UEAwwMSW50ZXJtZWRpYXRlMSYwJAYJKoZIhvcNAQkBFhdwb3N0bWFzdGVy
QHBjZG9tYWluLmNvbTAeFw0xNzAyMTAwODExMDhaFw0yNzAyMDgwODExMDhaMIGU
MQswCQYDVQQGEwJVUzENMAsGA1UECAwESW93YTESMBAGA1UEBwwJRGF2ZW5wb3J0
MREwDwYDVQQKDAhQQ0RvbWFpbjELMAkGA1UECwwCSVQxGjAYBgNVBAMMEW1haWwu
cGNkb21haW4uY29tMSYwJAYJKoZIhvcNAQkBFhdwb3N0bWFzdGVyQHBjZG9tYWlu
LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMJq/xC8Xh4Kc/cM
KmCtzKeNkyMS+n4Qp6zNq2LPoTPouxg+SpdO71OEdnW0GdvSbT1xLKGJe+NXVRME
I3k6hF7ap3X5893uysqY5yJCi/vKRCqrOs8avH8vhw58QKzaRcLrp2U30RKLnecH
EKtU1nvZ8N8dhP0R8cqf5lACLg1SZAxjYIjNo30mKLbmrCCEaPmjeruKOtXbGXDW
uscNfZnCc1+W0uq8cON0eLu7EgHyX7vuzHvBOHRyibu/t/dtQXUTU32g1f4YZr8m
YPO1q3Oyz9l0AZeQq7A+6DkR8R0TTrVdGZ7baqreR4O1n2JaQgW7fEzphDr/qhc+
WDJ6AIMCAwEAAaOCAUEwggE9MAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEBBAQDAgZA
MDMGCWCGSAGG+EIBDQQmFiRPcGVuU1NMIEdlbmVyYXRlZCBTZXJ2ZXIgQ2VydGlm
aWNhdGUwHQYDVR0OBBYEFPQhHPEgqAp/77nNnDIkAdINYQvmMIGjBgNVHSMEgZsw
gZiAFIto5lcuEEGUeQdreN/MEyzaxXN+oXykejB4MQswCQYDVQQGEwJVUzENMAsG
A1UECAwESW93YTESMBAGA1UEBwwJRGF2ZW5wb3J0MREwDwYDVQQKDAhQQ0RvbWFp
bjELMAkGA1UECwwCSVQxJjAkBgkqhkiG9w0BCQEWF3Bvc3RtYXN0ZXJAcGNkb21h
aW4uY29tggIQADAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEw
DQYJKoZIhvcNAQELBQADggIBAHNK0+QwK0OK3K2xi4kwQJGQmA0K9TyOox0k5wXM
UUIK7KsfzgFZBJL2YfROFNXbCZFxwTN6OvBD4ElUw+zpYpo045JcxTkMPwTr5/ND
zK0GFm5sE4ZL/+5PCJNsc/Xz0eLT6AToeatPl/CJZ5T38gUbYwzIfb7Q4NYVEeLP
dPg8c4RDPALrW27j9pYIeRkmgI7789IeJ+iBJOcr9PCl33xqNKD55AIdaGZa197v
ze+v/ASpOJH1frHVNLmVaDaNC/D6YdgEC6eVtSC6lZPcuG4f2drPo3VHxat3xlwk
eKb0pwgkOmOAKtHJaaBIln7JStQp9WScu5I7fGRRxWFx8D+by/WnrianOvDBxyvL
oTUW70Rxm6RUiOEBXgqnM2YmO5cn+g9zak9pqFUQLJremEAKRjk4x/hdUy1aEDDk
9nd0C+ewvo1rY60FNUIIJ0PltAQRnGeqZd8v2IEx7QtuWAFJWdxC6GixgwHFDVBX
0+NuAhvEzjtgbMDSE1pBGOV39QIn8A75lU3CJLntTiWi24EXSrgNkRfeIkmJYMnF
5IBV4D2R9nEBq2WGrRmSW0UG+nkCgX9M5uNd7D1rbp7EJB/kHsxfvqafEcAnXo/P
wXbdrFIEicot3sPUk1RLInl+YPxHZtsCzcwNnwCLJqZQmvRZPuxndDOhbtEahOe4
krrG
-----END CERTIFICATE-----
