require ["fileinto", "copy"];
# Move spam to spambox
if header :contains "X-Spam-Flag" "YES" {
  fileinto "Spam";
  stop;
}
if header :contains "subject" {{ sieve_spam_subjects }} {
  fileinto "Spam";
  stop;
}
if header :contains "from" {{ sieve_spam_whitelist }} {
   fileinto "Inbox";
   stop;
}
