### Use OK to whitelist an email server or sender address
### Use REJECT to blacklist an email server or sender address
mchsi.com OK
mediacombb.net OK
mediacomcc.com OK
mcomdc.com OK
mail-smtp01.mcomdc.com OK
mail-smtp02.mcomdc.com OK
mail-smtp03.mcomdc.com OK
mail-smtp04.mcomdc.com OK
mail-smtp05.mcomdc.com OK
mail-smtp06.mcomdc.com OK
mail-smtp07.mcomdc.com OK
mail-smtp08.mcomdc.com OK
smtp.mchsi.com OK
lfischer86@hotmail.com OK
evil_angel04@hotmail.com OK
shutterbuglyd@gmail.com OK
be170f5aaron@hotmail.com OK
goappletree.com OK
incoming.goappletree.com OK
notifications.pinterest.com OK
explore.pinterest.com OK
qcga.com OK
mail.qcga.com OK
mail.alcohea.com REJECT
evontent.com REJECT
taxintial.com REJECT
emailer12-15.forpoll.net REJECT
lerlegacy.com REJECT
propt.stonand.com REJECT
synop.smilmind.net REJECT
propt.lettela.com REJECT
cumulim.com REJECT
bluelect.com REJECT
dotaunch.net REJECT
indiine.com REJECT
couponandgo.com REJECT
news.es.couponandgo.com REJECT
iclide.fronyoga.com REJECT
newdaup.com REJECT
bleza.acterred.com REJECT
thepronutritions.com REJECT
x22report.com REJECT
sexylpine.com REJECT
sellega.net REJECT
i.les-meilleures-astuces.fr REJECT
astuces.fr REJECT
