addison@pcdomain.com			acjohnson@pcdomain.com,kristy@pcdomain.com
keeton@pcdomain.com       acjohnson@pcdomain.com,kristy@pcdomain.com
karson@pcdomain.com       acjohnson@pcdomain.com,kristy@pcdomain.com
alina@pcdomain.com        acjohnson@pcdomain.com,kristy@pcdomain.com
netflix1@pcdomain.com			acjohnson@pcdomain.com,kristy@pcdomain.com
hulu1@pcdomain.com        acjohnson@pcdomain.com,kristy@pcdomain.com
hulu2@pcdomain.com        acjohnson@pcdomain.com,kristy@pcdomain.com
hulu3@pcdomain.com        acjohnson@pcdomain.com,kristy@pcdomain.com
mailer@pcdomain.com       acjohnson@pcdomain.com
mcc@pcdomain.com          acjohnson@pcdomain.com
grafanabackup@pcdomain.com acjohnson@pcdomain.com
awstrial@pcdomain.com     acjohnson@pcdomain.com

postmaster@pcdomain.com                 acjohnson@pcdomain.com
support@pcdomain.com                    postmaster@pcdomain.com
abuse@pcdomain.com                      postmaster@pcdomain.com
hostmaster@pcdomain.com                 postmaster@pcdomain.com
root@pcdomain.com                       postmaster@pcdomain.com
webmaster@pcdomain.com                  postmaster@pcdomain.com

abuse@jasonsdistributing.com            postmaster@pcdomain.com
hostmaster@jasonsdistributing.com       postmaster@pcdomain.com
postmaster@jasonsdistributing.com       postmaster@pcdomain.com
webmaster@jasonsdistributing.com        postmaster@pcdomain.com

abuse@qcfavorme.org                     postmaster@pcdomain.com
hostmaster@qcfavorme.org                postmaster@pcdomain.com
marketing@qcfavorme.org                 postmaster@pcdomain.com
postmaster@qcfavorme.org                postmaster@pcdomain.com
webmaster@qcfavorme.org                 postmaster@pcdomain.com
