pcdomain.com              # Users that auth to postfix directly for pcdomain.com
acjohnson@pcdomain.com    acjohnson
kristy@pcdomain.com       kristy
jeremyj@pcdomain.com      jeremyj
mdadmuser@pcdomain.com    mdadmuser

jasonsdistributing.com          # Users that auth to postfix directly for jasonsdistributing.com
jason@jasonsdistributing.com    jason
