-----BEGIN CERTIFICATE-----
MIID8zCCAtugAwIBAgIJAK8tlL7YwkbMMA0GCSqGSIb3DQEBCwUAMIGPMQswCQYD
VQQGEwJVUzENMAsGA1UECAwESW93YTESMBAGA1UEBwwJRGF2ZW5wb3J0MREwDwYD
VQQKDAhQQ0RvbWFpbjELMAkGA1UECwwCSVQxFTATBgNVBAMMDHBjZG9tYWluLmNv
bTEmMCQGCSqGSIb3DQEJARYXcG9zdG1hc3RlckBwY2RvbWFpbi5jb20wHhcNMTgw
MjAzMDUwODE4WhcNMjgwMjAxMDUwODE4WjCBjzELMAkGA1UEBhMCVVMxDTALBgNV
BAgMBElvd2ExEjAQBgNVBAcMCURhdmVucG9ydDERMA8GA1UECgwIUENEb21haW4x
CzAJBgNVBAsMAklUMRUwEwYDVQQDDAxwY2RvbWFpbi5jb20xJjAkBgkqhkiG9w0B
CQEWF3Bvc3RtYXN0ZXJAcGNkb21haW4uY29tMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA6jGhSsFpWZu70DZ+sP4x0RZC2aQJSjWtM+uHINuKvp5yLGCx
GcbaMCAEIcDH53uNFD1QuIgc9cHELHudYuXp2Zpo5Nodp9ohUzgta2sN0NRNlJn1
iCvWDcMIFB4exLmt7vkbrvkNZnOvPh8s6uxiyj3aHBrDHRlkGFDhZLLMcpgpSU+t
akBcjtt6vOJEA2y/A123lCqfiJCSKVpnAQGX4hhfili0vMDiIi6LqWhy6KOPU4ST
Lgwyt41+wIJ9MZuHrQQne19CVtwNavlDpY3tSq0tSaC8YPiA1QfbDmM58f8dh8jY
uORRVh8nOhk7B68XD7oIIITInEQcdlT2ZxnCawIDAQABo1AwTjAdBgNVHQ4EFgQU
ra2X1EXNVvRDqoaH6nW5rny8T8owHwYDVR0jBBgwFoAUra2X1EXNVvRDqoaH6nW5
rny8T8owDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAQuAkOW14QGxN
MuHyagQLeqLch5MjwJeHuL+9fGrMJnYzWqyNB6vh74tDVaS1Vbtc9aoiyeKlJOhX
3SvQoTpfzJNTM7Yj2+RkpQ+0DGKC5If9EXWWjmoppQgVnbkA2jc8YwVa/mRP7UK3
LQ06NECyCSBXCaq28JyniAR15rZQz2afiqu6p5kGC9EEu2QBK0cmzOSkRsXx3IqD
FpwLubM060a2qN6qjyOnQAM/ES5sKfp3BnFQUuhy0ZieCJgOYq48e+qF9i3DV6NE
ap3eJohB29pDAtHbWmje3tcBz4xufXLIuNSC4NnQrtPFZf0SiUc228SZYRipgU4M
pHGP1zMViQ==
-----END CERTIFICATE-----
