server {
                listen {{ nginx_roundcube_server_port }} default;
{% if nginx_roundcube_secondary_port is defined %}
                listen {{ nginx_roundcube_secondary_port }};
{% endif %}

                server_name {{ nginx_roundcube_server_name }};

                ssl on;
                ssl_certificate {{ nginx_roundcube_ssl_cert_file }};
                ssl_certificate_key {{ nginx_roundcube_ssl_key_file }};

                ssl_protocols TLSv1.2;
                ssl_ciphers HIGH:!aNULL:!MD5;
                ssl_prefer_server_ciphers on;
                ssl_session_cache shared:SSL:1m;
                ssl_session_timeout 10m;

                root /var/www/roundcube;
                index index.php;

                location ~ \.php$ {
                   fastcgi_pass   unix:/var/run/php/php7.0-fpm.sock;
                   fastcgi_index  index.php;
                   fastcgi_param  HTTPS on;
                   fastcgi_param  SCRIPT_FILENAME /var/www/roundcube$fastcgi_script_name;
                   include fastcgi_params;
                }
        }
