server {
                listen {{ nginx_roundcube_server_port }} default;
{% if nginx_roundcube_secondary_port is defined %}
                listen {{ nginx_roundcube_secondary_port }};
{% endif %}

                server_name {{ nginx_roundcube_server_name }};

                ssl on;
                ssl_certificate {{ nginx_roundcube_ssl_cert_file }};
                ssl_certificate_key {{ nginx_roundcube_ssl_key_file }};

                ssl_protocols TLSv1.2 TLSv1.3;
                ssl_ciphers TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK;

                ssl_prefer_server_ciphers on;
                ssl_dhparam /etc/nginx/dhparam.pem;
                ssl_ecdh_curve X25519;
                ssl_session_cache shared:SSL:1m;
                ssl_session_timeout 10m;
                ssl_session_tickets off;
                ssl_stapling on;
                ssl_stapling_verify on;

                resolver_timeout 5s;

                add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
                add_header X-Frame-Options SAMEORIGIN;
                add_header X-Content-Type-Options nosniff;
                add_header X-XSS-Protection "1; mode=block";

                root /var/www/roundcube;
                index index.php;

                location ~ \.php$ {
                   fastcgi_pass   unix:{{ php_fpm_socket[ansible_distribution_release] }};
                   fastcgi_index  index.php;
                   fastcgi_param  HTTPS on;
                   fastcgi_param  SCRIPT_FILENAME /var/www/roundcube$fastcgi_script_name;
                   include fastcgi_params;
                }
        }
