[Unit]
Description=DenyHosts
Before=sshd.service

[Service]
Type=forking
ExecStartPre=/bin/rm -f /var/run/denyhosts.pid
ExecStart=/usr/local/bin/denyhosts.py --daemon --config=/etc/denyhosts.conf --debug
PIDFile=/var/run/denyhosts.pid
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
