account default
port 587
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
host {{ msmtp_host }}
from {{ msmtp_from }}
auth on
user {{ msmtp_username }}
password {{ msmtp_password }}
